body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-container {
  margin: 0 auto;
  text-align: center;
}

button {
  display: inline-block;
  font-size: 18px;
  margin: 0 15px 30px 0;
  padding: 8px 16px;
}

.board {
  margin: 0;
  padding: 0;
}

.row {
  line-height: 0;
  margin: 0;
  padding: 0;
}

.square {
  background: #ddd;
  display: inline-block;
  height: 12px;
  width: 12px;
}

.square.on {
  background: #fff;
}
